@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif, 'Platypi';
    line-height: 150%;
    color: #535353;
}

h1 {
    margin: 0px !important;
    letter-spacing: 2px;
    font-size: 38px !important;
}

body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #403f3e;
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 500px;
    text-align: center;
    padding: 40px 60px 40px 60px;
}

.password {
    margin-top: 12px;
    text-align: left;
}

.user, .password {
    text-align: left;
}

.input-field {
    padding: 50px 0px;
}

.input-field .user input[type="email"],
.input-field .password input[type="password"] {
    border: 1px solid #ADADAD;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    outline: none;
    box-sizing: border-box;
}

input:active, 
input:focus {
    border-color: #22E59A !important;
}

.button {
    color: white;
    background-color: #22E59A;
    border-radius: 6px;
    border: 0px;
    width: 350px;
    padding: 14px;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
}